*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
:root{
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White : hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
  --font-1:'Inter', sans-serif;
  --font-2:'Lexend Deca', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: var(--Very-dark-blue);
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
.l-main{
  width: 1110px;
  display: flex;
  background-color: var(--Dark-desaturated-blue);
}
.l-text__wrapper{
  width: 570px;
  padding: 70px 120px 70px 70px;
}
.c-h1{
  font-size: 2rem;
  font-family: var(--font-1);
  margin-bottom: 32px;
}
strong{
  color: var(--Soft-violet);
}
.c-paragraph{
  font-size: 15px;
  font-family: var(--font-2);
  line-height: 1.7rem;
  font-weight: 300;
  color: var(--Slightly-transparent-white);
}
.l-data__content-wrapp{
  display: flex;
  margin: 70px 0 0 0;
  justify-content: space-between;
}
.l-data{
  display: flex;
  flex-direction: column;
}
.c-h2{
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-1);
  margin-bottom: 8px;
}
.c-text{
  font-family: var(--font-2);
  color: var(--Slightly-transparent-white);
}
.l-image__wrapper{
  width: 540px;
  height: 450px;
  position: relative;
  z-index: 1;
}
.c-bg__purple{
  position: absolute;
  background: var(--Soft-violet);
  width: 540px;
  height: 450px;
  opacity: .7;
}
@media screen and (max-width:375px) {
  .l-main{
    width: 325px;
    display: flex;
    flex-direction: column-reverse;
    margin: 60px 0;
  }
  .c-h1{
    font-size: 1.375rem;
  }
  .l-image__wrapper, .c-bg__purple, .c-image{
    width: 325px;
    height: 240px;
    border-radius: 16px 16px 0 0;
  }
  .l-text__wrapper{
    width: auto;
    padding: 20px;
    text-align: center;
    margin: 20px 0 ;
  }
  .l-data__content-wrapper{
    flex-direction: column;
    text-align: center;
    margin-top:40px;
  }
  .l-data{
    margin: 20px 0;
  }
}